<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="GoToPaymentGateway" value="0"/>
		<add key="SiteCity" value="Mumbai"/>
		<add key="SiteName" value="KitchenOnMyPlate.com"/>
		<add key="EnableSendingMail" value="1"/>
		<add key="SendMailOnEveryHit" value="0"/>
		<add key="OwnerEmailID1" value="coachinginkota@gmail.com"/>
		<add key="OwnerEmailID2" value="info@kitchenonmyplate.com"/>
	</appSettings>
	<connectionStrings>
  <add name="DevKOMPConnectionString" connectionString="Data Source=.;Initial Catalog=DBKOMP;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="DBKOMPConnectionString" connectionString="Data Source=.;Initial Catalog=DBKOMP;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
    <customErrors mode="On" defaultRedirect="ERROR.aspx"  >
      <error statusCode="500" redirect="ERROR.aspx" />
    </customErrors>
    <sessionState timeout="1"></sessionState>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="*"/>
			</assemblies>
		</compilation>
		<trust level="Full"/>
    <webServices>
      <protocols>
        <remove name="Documentation"/>
      </protocols>
    </webServices>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
	<system.net>
		<mailSettings>
			<smtp from="support@kitchenonmyplate.com1" deliveryMethod="Network">
				<network host="smtpout.secureserver.net1" userName="support@kitchenonmyplate.com1" password="Sudhansu@15" defaultCredentials="false"/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
